<ul>
  <li>American Apparel Fine Jersey Crewneck T-Shirt</li>
  <li>100% Cotton (Heather Grey contains 10% Polyester)</li>
  <li>Slim fit – tends to run small</li>
  <li>Double stitched</li>
  <li>Direct-to-garment, photo quality printing</li>
  <li>Made in the USA, sweatshop-free</li>
  <li>Fabric weight: 4.3 oz/yd²</li>
</ul>