* {
  box-sizing: border-box;
}

nav, div, p, ul, ol, dl, address {
  transition: margin 0.25s ease, padding 0.25s ease, height 0.25s ease, width 0.25s ease;
}

body, .shading {
  min-height: 480px;
}

body {
  background-color: rgb(16, 16, 16);
  /* background-image: url('../img/osman-rana-332236-unsplash--hi-contrast-bw@0,1875x.jpg'); */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  padding: 0;
  margin: 0;
  background-size: cover;
  /* background-blend-mode: exclusion; */
  height: 100vh;
  color: whitesmoke;
  color: rgb(235, 235, 235);
  text-align: left;
  font-family: 'Noto Sans', 'Source Sans Pro', 'Roboto', 'Proxima Nova', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.5;
}

body:lang(ja) {
  font-family: 'Noto Sans', 'Noto Sans CJK JP', 'Noto Sans CJK', 'Noto Sans JP', 'Source Sans Pro', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
}

@media only screen and (min-width: 1351px) {
  body {
    background-image: url('../img/osman-rana-332236-unsplash--hi-contrast-bw@0,25x.jpg');
  }
}

@media only screen and (min-width: 2702px) {
  body {
    background-image: url('../img/osman-rana-332236-unsplash--hi-contrast-bw@0,5x.jpg');
  }
}

@media only screen and (min-width: 4052px) {
  body {
    background-image: url('../img/osman-rana-332236-unsplash--hi-contrast-bw@0,75x.jpg');
  }
}

@media only screen and (min-width: 5403px) {
  body {
    background-image: url('../img/osman-rana-332236-unsplash--hi-contrast-bw.jpg');
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  width: 100vw;
  /* overflow: scroll; */
}

main > .content {
  /* margin-top: -4.5rem; */
  /* margin-top: -6.25vw; */
  margin-top: -.5rem;
  max-width: 90%;
  max-width: 90vw;
}

main > .content.content--collection {
  margin-top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  /* min-height: 82vh; */
}

.collection-heading {
  margin-top: 0;
}

.products {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 75vw;
  margin: 0 auto;
}

.product {
  text-decoration: none;
  width: 100%;
  max-width: 256px;
}

.product-link {
  display: block;
  height: 256px;
  text-align: center;
}

.product-tagline {
  margin: 0;
  font-size: 1.125rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-colors {
  list-style: none;
  padding: 0;
  margin: .5rem auto 0;
  height: 1rem;
}

.product-colors > li {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  /* margin: 0 .00125rem; */
  margin: 0 .125rem;
}

.color {
  width: 1rem;
  height: 1rem;
  overflow: hidden;
  color: transparent;
  /* border-color: rgb(235,235,235); */
  /* border-color: rgb(16,16,16); */
  border-color: transparent;
  box-shadow: 1px 1px 0 rgba(235,235,235,.75);
  border-width: 1px;
  padding: 0;
  /* border-width: 0.1rem; */
  border-radius: 0;
}

.color.color--red {
  background-color: hsl(0, 50%, 50%);
}

.color.color--blue {
  background-color: hsl(200, 50%, 50%);
}

/* @media only screen and (min-width: 44em) {
  main > .content {}
} */

main,
footer {
  /* max-width: 90%; */
  /* text-shadow: 0.0625em 0.125em 0.125em rgba(0, 0, 0, 0.75); */
}

picture {
  line-height: 0;
}

img, picture, video, audio, iframe {
  max-width: 100%;
}

.branding {
  font-size: 3rem;
  /* margin: 1.5rem auto 0.67rem auto; */
  /* margin: 2.1rem auto 0.67rem auto; */
  margin: 0 auto;
  line-height: 1.375;
  font-weight: bold;
}

.sub-brand {
  font-weight: normal;
}

@media only screen and (min-width: 21em) {
  .branding {
    font-size: 3.3rem;
  }
}

@media only screen and (min-width: 26em) {
  .branding {
    font-size: 3.6rem;
  }
}

.product-heading {
  margin: .75rem auto 0;
}

.product-category {
  margin: 0;
  font-size: 1.125rem;
}

.product-rundown > div {
  display: inline-block;
}

.product-rundown > :first-child::after {
  display: inline-block;
  content: ' · ';
  /* margin: 0 0.125rem 0 0.5rem; */
  margin: 0 .35rem 0 .5rem;
}

.intro {
  margin: 0;
  line-height: 1.25;
  /* font-weight: bold; */
  text-align: center;
}

.intro > p {
  margin: .75rem auto;
}

.intro > :first-child {
  margin-top: 0;
}

.intro > :last-child {
  margin-bottom: 0;
}

p {
  font-size: 1.25rem;
  max-width: 39rem;
}

.ww {
  display: inline-block;
}

.shading {
  /* background-color: rgba(0, 0, 0, 0.75); */
  background: repeat linear-gradient(to right, rgba(16, 16, 16, 0.75), rgba(16, 16, 16, 0.75)), no-repeat url('../img/osman-rana-332236-unsplash--hi-contrast-bw@0,1875x.jpg');
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.shading.shading--splash {
  height: 100%;
}

.shading.shading--splash > main {
  justify-content: center;
}

a, a:visited, .nav-link {
  color: hsl(280, 75%, 50%);
  color: rgb(235, 235, 235);
}

a:hover, a:focus {
  text-decoration: none;
}

.site-nav {
  flex: 1;
  text-align: center;
  margin: 1.5rem auto;
  font-size: 1.25rem;
}

summary {
  cursor: default;
}

.site-nav, .nav-submenu {
  height: 2rem;
}

.nav-submenu,
.nav-submenu__menu {
  width: 6rem;
}

.nav-content {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.nav-link {
  margin: .25rem;
  white-space: nowrap;
  display: inline-block;
}

@media only screen and (min-width: 44em) {
  .nav-content {
    width: 75%;
    width: 50%;
    max-width: 39em;
    display: flex;
    justify-content: space-evenly;
  }
}

/* .site-nav ul {
  list-style: none;
  text-align: center;
}

.site-nav ul > li {
  display: inline-block;
} */

.footer {
  position: relative;
  z-index: 2;
  opacity: .5;
  transition: opacity .25s ease;
  width: 100%;
  min-height: 36px;
  margin: .75rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 1rem 0; */
}

.footer p {
  margin: .25rem auto;
}

.footer p:first-child,
.footer p + p {
  margin-top: 0;
}

.footer p:last-child {
  margin-bottom: 0;
}

.footer:hover, .footer:focus {
  opacity: 1;
}

.footer, .footer p {
  font-size: .5rem;
  font-size: .75rem;
}

nav, .hamburger, audio, .volume {
  z-index: 5;
}

.cart {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(16, 16, 16) /*url('../img/concrete-black.png') repeat*/;
  color: rgb(235, 235, 235);
  padding: 2.1rem 0.75rem;
  width: 29rem;
  max-width: 100vw;
  height: 100vh;
  transform: translate(30rem);
  transition: 0.15s cubic-bezier(0.645, 0.045, 0.355, 1) transform;
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
  z-index: 4;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-heading:first-child {
  margin-top: 0;
  color: transparent;
  pointer-events: none;
  user-select: none;
}

.cart-heading + .cart-text {
  margin-top: 0;
}

button, .button {
  background: rgb(235, 235, 235);
  color: rgb(16, 16, 16);
  border: 1px solid transparent;
  border-radius: .3rem;
  font-size: 1.5rem;
  padding: 0.375rem .75rem;
  border-bottom: 0.25rem solid hsla(0, 0%, 40%, 0.5);
  border-right: 0.125rem solid hsla(0, 0%, 50%, 0.5);
  position: relative;
}

button:active {
  border-bottom-color: transparent;
  border-right-color: transparent;
  top: .25rem;
  left: .125rem;
}

button[disabled], .button[disabled] {
  opacity: 0.25;
  cursor: not-allowed;
}

.hamburger {
  position: relative;
  /* right: .75vw; */
  /* top: .75vw; */
  height: 3rem;
  padding: 0 !important;
  width: 25px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

:checked ~ .cart {
  transform: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.cart-links {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 90%;
  max-width: 39rem;
  margin-left: auto;
  margin-right: auto;
  /* font-size: 1.5rem; */
}

.cart-links > li + li {
  margin-top: 1rem;
}

.branding {
  font-family: 'Accord Alternate', 'AccordAlternate', 'Ubuntu', 'Noto Sans', 'Source Sans Pro', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  text-align: center;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-size: 2.8rem;
  width: 256px;
  /* height: 256px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.branding:lang(ja) {
  font-family: inherit;
}

.brand,
.sub-brand {
  transition: margin ease 0.25s, height ease 0.25s;
  width: 256px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand {
  /* margin-top: 1.3rem; */
  /* display: block; */
}

.sub-brand {
  font-weight: normal;
  /* display: block; */
  margin-top: 1.1rem;
}

.brand:lang(ja),
.sub-brand:lang(ja) {
  font-size: 2rem;
}

html[lang="ja"] .brand {
  /* margin-top: 1.4rem; */
}

html[lang="ja"] .logo {
  margin-top: 1.1rem;
}

html[lang="ja"] .sub-brand {
  margin-top: 1.3rem;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.2rem;
  width: 82.32421875%;
}

@media only screen and (max-width: 44em) {
  /* .logo {
    max-width: 40%;
  } */
}

/* @font-face {
  font-family: 'Noto Emoji';
  font-display: auto;
  src:
    local('Noto Emoji'), local('NotoEmoji');
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: 'Accord Alternate';
  font-weight: bold;
  font-style: normal;
  src: url('fonts/NoSpoon.eot');
  src: url('fonts/NoSpoon.eot?#iefix') format('embedded-opentype'),
    url('fonts/NoSpoon.woff2') format('woff2'),
    url('fonts/NoSpoon.woff') format('woff'),
    url('fonts/NoSpoon.otf') format('opentype'),
    url('fonts/NoSpoon.ttf') format('truetype');
}

@font-face {
  font-family: 'Accord Alternate';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/Apparel.eot');
  src: url('fonts/Apparel.eot?#iefix') format('embedded-opentype'),
    url('fonts/Apparel.woff2') format('woff2'),
    url('fonts/Apparel.woff') format('woff'),
    url('fonts/Apparel.otf') format('opentype'),
    url('fonts/Apparel.ttf') format('truetype');
}

.language {
  font-size: 1.5rem;
  z-index: 2;
  padding-left: .75rem;
  width: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  width: 4.5rem;
}

.cart-toggle {
  padding-right: .75rem;
  width: 2.25rem;
}

.language a {
  display: inline-block;
}

.language a:hover,
.language a:focus {
  text-decoration: underline;
}

.language a:not(.active) {
  text-decoration: none;
}

.controls {
  height: 3.7rem;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: left; */
  justify-content: space-between;
  align-items: center;
  height: auto;
  /* max-width: 90%; */
  margin: .5rem auto;
}

@media only screen and (min-width: 44em) {
  .controls {
    flex-direction: row;
    /* max-width: 100%; */
    margin: .5rem auto .75rem auto;
  }
}

.cart-links ul {
  list-style-type: none;
  margin-top: .75rem;
  padding-left: 1.5rem;
}

.cart-links ul > li::before {
  content: '▶ ';
  margin-right: .5rem;
  display: inline-block;
  vertical-align: middle;
  font-size: .5em;
}